.center {
    margin-left: auto;
    margin-right: auto;
  }
  
  .space-top {
    margin-top: 1%;
  }

  img {
      width: 50px;
      float: left;
      padding-top: 10px;
  }

  .card {
    width: 300px;
    margin-left: 5px;
    margin-right: 5px;
  }