<div>
    <mat-form-field class="category-picker">
        <mat-label>Category</mat-label>
        <mat-select (selectionChange)="categoryChange()" [(value)]="selected" placeholder={{selected}}>
            <mat-option value="all">All</mat-option>
            <mat-option value="books">Books</mat-option>
            <mat-option value="music">Music</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="search-field">
        <mat-label>Search all or choose a category</mat-label>
        <input type="text" placeholder="Search" matInput [formControl]="inputControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="selectionChange(option)" *ngFor="let option of filteredOptions | async"
                [value]="stringRepresentation(option)">
                {{stringRepresentation(option)}}
            </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>