app-list {
    display:inline-block;
}

.list-container {
    width: 650px;
    margin: auto;
  }

  @media all and (max-width: 700px) {
    app-list {
        display:block;
    }
    .list-container {
        width: auto;
        margin: fixed;
      }
}