ul {
    list-style: none;
}

#nav_bar {
    float: right;
}

#nav_bar li {
    display: inline-block;
    padding: 8px;
}

.nav-links {
    color: #404040;
}

a {
    text-decoration: none;
    color: inherit;
}

li.nav-links a:hover {
    text-decoration: underline;
}